<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Othello.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <applicationSettings>
        <Othello.Properties.Settings>
            <setting name="myport" serializeAs="String">
                <value>22223</value>
            </setting>
            <setting name="guestport" serializeAs="String">
                <value>22222</value>
            </setting>
            <setting name="myIp" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="guestIP" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </Othello.Properties.Settings>
    </applicationSettings>
</configuration>